*.css
dev
logs
*.log

public/libs
*.sublime-project
*.sublime-workspace
node_modules
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
.gitattributes
build
templates.js
bundle.js